.btnStyle{
    border: 2px solid red;
}

.active{
    border-color: aquamarine;
}

.content{
    width:200px;
    height:200px;
    border:2px solid blue;
    display:none;
}

.visible{
    display:block;
}


.myBtn001 {

    width: 200px;
    height: 40px;
    background-color: #c5b2b2;
    /* border: 1px solid red; */
}


#NodeCnt {
    color:rgb(92, 114, 33);
}

/* img{
    float: left;
} */

#description {
    display:block;
    color: cadetblue;
}


.cube{
    width:200px;
    height:200px;

    margin:10px;
    padding:10px;

}

.box1{
    background-color: rgb(223, 108, 175);
    float:left;
}

.box2{
    background-color: blueviolet;
    float:left;
}

.box3{
    background-color: burlywood;
    clear:both;
    float:left;
}

.box4{
    background-color: cadetblue;
    float:left;
}

#outerbox{
    padding:10px;
    border-color: rgb(7, 44, 77);
    border-style: solid;
    border-width:2px;
    width: fit-content;
    
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


.pic img{
    /* max-width:800px; */
    /* max-height:600px; */
    transform: scale(0.3);
}