.btnStyle{
    border: 2px solid red;
}

.active{
    border-color: aquamarine;
}

.content{
    width:200px;
    height:200px;
    border:2px solid blue;
    display:none;
}

.visible{
    display:block;
}