.clearfix::after{
    clear:both;
    content: "";
    display: block;
}

.header {
    width:450px;
    height:10;
    border: 1px solid rgb(194, 19, 19);
    background-color: darkorange;
}

.left{
    width:20%;
    height:20px;
    background-color: beige;
    float:left;
}

.right{
    width:20%;
    height:20px;
    background-color: blue;
    float:right;
}

.third {
    background-color: rgb(180, 135, 79);
    height: 300px;
    width:300px;
    position:relative;

}

.cStr{
    /* background-color: bisque; */
    width:150px;
    height:100px;
    background-color: bisque;
    position:absolute;
    top:50%;
    margin-top: -50px;
}