* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.clearfix{
    content:"";
    display:block;
    clear:both;
}

#id001 {
    background-color: antiquewhite;
    width:200px;
    height:100px;
    line-height: 100px;
    text-align: center;
    border-color: brown;
    border-width:3px;
    border-style: solid;
}