* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f6f6f6;
    font-size:1.2em;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.content {
    height: 100px;
}

.header {
    margin-top: 17px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;


}

.row {
    width: 1260px;
    height: 59px;
    margin: 0 auto;

    /* background-color: rgb(182, 116, 116); */
}

.logo {
    width: 61.6%;
    float: left;
    margin-right: 1%;
    /* text-indent: -9999px; */
}


.logo h1 {
    margin: 10px 20px;
    display: block;
    height: 39px;

    background-image: url("..//assets/runoob-logo@2x.png");
    background-size: 258px 39px;
    background-repeat: no-repeat;
}

.logo a {
    width: 258px;
    height: 39px;
    display: block;
}

.searchbar {
    float: left;
    width: 36%;
    text-align: center;
}

.searchtext {
    background-color: #eeefed;
    margin: 5px 0 0 0;
    border-radius: 3px;
    padding: 5px;
}

.searchtext input {
    height: 44px;
    width: 94%;
    padding: 0 3% 0 3%;
    /* font-size: 0.4cm; */
    font-weight: 400;
    border: 1px solid #ccc;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 3% 0 3%;
    font-size: 18px;
}

.content1 {
    width: 200px;
    height: 200px;
    border: 10px solid #be8383;
    box-sizing: content-box;
}

.nav-content {
    padding: 0 10px;
    height: 38px;
    background-color: #96b97d;
}

.nav-bar {
    width: 1260px;
    height: 38px;
    margin: 0 auto;
    /* padding:10px 0 0 20px; */
    /* font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif; */
}

.nav-bar ul {
    margin: 0 10px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;

}

.nav-bar ul li {
    list-style-type: none;
    float :left;
    font-size: 0.75em;
    margin: 0 20px 0 0;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    height: 38px;

    /*设置为块盒 让高度生效*/
    display: block;
}

.nav-bar ul li a:hover {
    color: rgb(230, 230, 230)
}

.current{
    background-image: url("../assets/navarrow.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 40%;
}

#Pole  {
    width:20px;
    height:2000px;
}

.main{
    margin-top: 20px;
}