* {
    margin:0px;
    padding:0px;
    box-sizing: content-box;
}

.clearfix{
    content:"";
    display:block;
    clear:both;
}

.content{
    height:100px;
}

.header {
    margin-top:17px;
    margin-bottom: 15px;
    padding-left :10px;
    padding-right : 10px;


}

.row{
    width:1260px;
    height:59px;
    margin:0 auto;

    /* background-color: rgb(182, 116, 116); */
}

.logo {
    width:61.6%;
    float:left;
    margin-right:1%;
}


.logo h1{
    margin:10px 20px;
    display:block;
    height:39px;
}

.logo a{
    width:258px;
    height:39px;
    display:block;
}

.searchbar{
    float:left;
    width:36%;
    /* text-align: right; */
}

.searchtext{    
    background-color: #eeefed;
    margin:5px 0 0 0;
    border-radius: 3px;
    padding:5px;
}

.searchtext input {
    height:35px;
    width:94%;
    padding:0 3% 0 3%;
    font-size: 1.2em;
    font-weight:400;
    border:1px solid #c8c8c8;
    /* line-height:34px; */
}