* 
{
    margin:0px;
    padding:0px;
}

#shortcut
{
    background-color: #ccc;
    width:1000px;
    height:300px;
    margin:10px 20px;
    border: 5px solid #888;
}

#shortcut .top-nav
{
    width:50%;
    height:50%;
    background-color: #1f1f1f;
    margin:0 auto;
}

.pages li
{
    list-style-type: none;
    display: inline-block;
    margin:10px 20px;
    border:1px solid #d3d3d3;
    padding:10px 20px;
}

li a
{
   color: #1c1c3c; 
   text-decoration: none;
}

a:hover
{
   color: #1c1c3c; 
}

a:visited
{
   color: #1c1c3c; 
}