* 
{
    margin:0px;
    padding:0px;
}

#shortcut 
{
    border-bottom:1px solid #ddd;
    background-color: #e3e4e5;
    height:30px;
}

#shortcut .top-nav
{
    height: 30px;
    line-height:30px;
    color:#999;
    margin:auto;
    width:1190px;
}

#shortcut .top-nav .left
{
    padding: 5px;
    width: 120px;
    height: 10px;
    background-color: #daa731; 
}